---
layout: default
---
{@io.quarkiverse.roq.frontmatter.runtime.model.Page page}
{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}

<div class="lt-page-relative">
  <a href="/trees" class="lt-nav-trees" title="All trees">
    <i class="ph ph-tree-structure" style="font-size: 24px;"></i>
  </a>
  <div class="lt-container">

    {#include partials/profile /}

    <div class="lt-links">
      {#if page.data.tree??}
        {#for link in cdi:trees.map.get(page.data.tree).links}
        {#linkCard link=link /}
        {/for}
      {#else if cdi:profile.links??}
        {#for link in cdi:profile.links}
        {#linkCard link=link /}
        {/for}
      {/if}
    </div>

    {#insert /}

  </div>
</div>
